<div class="bg-header">

    <%= render './pages/navbar' %>
<div class="container">

  <div class="devise-container">

    <div class="row">
      <div class="col-lg-6">
        <img class="img-login" src="https://res.cloudinary.com/dloadb2bx/image/upload/v1622731811/photo-1582268611958-ebfd161ef9cf_tfiew9.jpg" alt="">
      </div>
      <div class="col-lg-6 right-login-container">
        <h2>Crie uma conta</h2>

        <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
          <%= render "devise/shared/error_messages", resource: resource %>

          <div class="field">
            <%= f.label :email %><br />
            <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "label-login" %>
          </div>

          <div class="field">
            <%= f.label :password %>
            <% if @minimum_password_length %>
            <em>(<%= @minimum_password_length %> caracteres pelo menos)</em>
            <% end %><br />
            <%= f.password_field :password, autocomplete: "new-password", class: "label-login"  %>
          </div>

          <div class="field">
            <%= f.label :password_confirmation %><br />
            <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "label-login"  %>
          </div>

          <div class="actions">
            <%= f.submit "Criar conta", class: "mt-3 mb-3 w-100" %>
          </div>
          <%= render "devise/shared/links" %>
        <% end %>
      </div>
    </div>



  </div>

</div>
</div>

<%= render './pages/footer' %>
